In [1]:
from keybert import KeyBERT

In [2]:
import numpy as np
import pandas as pd
from newspaper import Article

In [3]:
import string
import nltk

In [4]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Sandeep\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [5]:
df = pd.read_csv('extract_charity.csv', low_memory=False)

In [6]:
new_df = df[df['name'].str.contains('CLIMATE', na=False)]
new_df.head()

,regno,subno,name,orgtype,gd,aob,aob_defined,nhs,ha_no,corr,...,add2,add3,add4,add5,postcode,phone,fax,Unnamed: 18,Unnamed: 19,Unnamed: 20
15685,1100981,0,INTERCLIMATE TRUST,R,MEMORANDUM AND ARTICLES OF ASSOCIATION INCORPO...,WORLDWIDE,NaN,F,NaN,NaN,...,St James House,St James Square,Cheltenham,NaN,GL50 3PR,2089936683,NaN,NaN,NaN,NaN
16940,1102225,0,CLIMATE OUTREACH INFORMATION NETWORK ...,RM,DECLARATION OF TRUST DATED 13 MARCH 2003 AS AM...,NOT DEFINED,NaN,F,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17625,1102909,0,THE CLIMATE CHANGE ORGANISATION,R,MEMORANDUM AND ARTICLES OF ASSOCIATION INCORPO...,NOT DEFINED. IN PRACTICE WORLDWIDE,NaN,F,NaN,NaN,...,7-10 ADAM STREET,LONDON,NaN,NaN,WC2N 6AA,2079602990,NaN,NaN,NaN,NaN
22384,1107577,0,CLIMATE PARLIAMENT,R,MEMORANDUM &amp; ARTICLES OF ASSOCIATION INCOR...,WORLDWIDE,NaN,F,NaN,NaN,...,Brighton,NaN,NaN,NaN,BN2 5RF,1273239144,NaN,NaN,NaN,NaN
24883,1109973,0,THE CLIMATE MOVEMENT,R,MEMORANDUM AND ARTICLES OF ASSOCIATION INCORPO...,NOT DEFINED. IN PRACTICE. WORLDWIDE,NaN,F,NaN,NaN,...,"c/o CAFOD, Romero House",55 Westminster Bridge Road,LONDON,NaN,SE1 7JB,2078029989,NaN,NaN,NaN,NaN

In [7]:
url = 'https://www.bbc.com/news/world-asia-india-59342627'

In [8]:
article = Article(url)
article.download()
article.parse()
article.nlp()

In [9]:
k = article.keywords

In [71]:
len(article.text.split(""))

4

In [11]:
kb = KeyBERT('distilbert-base-nli-mean-tokens')
keywords = kb.extract_keywords(article.text, stop_words='english')

In [12]:
keywords

[('protesters', 0.2589),
 ('farmers', 0.2195),
 ('selling', 0.0453),
 ('weaken', 0.0366),
 ('struggle', 0.0223)]

In [13]:
key = [keywords[0][0], keywords[1][0],keywords[2][0],keywords[3][0],keywords[4][0]]

In [14]:
key

['protesters', 'farmers', 'selling', 'weaken', 'struggle']

In [15]:
key1 = [x.upper() for x in key]

In [16]:
key1

['PROTESTERS', 'FARMERS', 'SELLING', 'WEAKEN', 'STRUGGLE']

In [19]:
def get(i):
    res = df[df['name'].str.contains(i, na=False)]
    return res.head()

In [20]:
for i in key1:
    print(get(i))

Empty DataFrame
Columns: [regno, subno, name, orgtype, gd, aob, aob_defined, nhs, ha_no, corr, add1, add2, add3, add4, add5, postcode, phone, fax, Unnamed: 18, Unnamed: 19, Unnamed: 20]
Index: []

[0 rows x 21 columns]
         regno subno                                               name  \
5302   1090827     0                       TREUDDYN YOUNG FARMERS' CLUB
6328   1091847     0  THE FARMERS FUND                              ...
12416  1097827     0  ASH YOUNG FARMERS CLUB                        ...
13410  1098759     0        THE DEVON FEDERATION OF YOUNG FARMERS CLUBS
21800  1106995     0  CLWB FFERMWYR IFANC LLYSYFRAN YOUNG FARMERS' CLUB

      orgtype                                                 gd  \
5302       RM              CONSTITUTION ADOPTED 8 NOVEMBER 2001;
6328       RM  DECLARATION OF TRUST EXECUTED ON THE 17TH APRI...
12416      RM             CONSTITUTION ADOPTED 9TH OCTOBER 2002;
13410       R  MEMORANDUM AND ARTICLES OF ASSOCIATION INCORPO...
21800       R               CONSTITUTION ADOPTED 20 AUGUST 2004;

                                                     aob aob_defined nhs  \
5302                                         NOT DEFINED         NaN   F
6328                                            NATIONAL         NaN   F
12416                                                ASH         NaN   F
13410  NOT DEFINED. IN PRACTICE DEVON (MAIN FOCUS FOR...         NaN   F
21800                 NOT DEFINED. IN PRACTICE LLYSYFRAN         NaN   F

      ha_no corr  ...             add2           add3 add4 add5  postcode  \
5302    NaN  NaN  ...              NaN            NaN  NaN  NaN       NaN
6328    NaN  NaN  ...              NaN            NaN  NaN  NaN       NaN
12416   NaN  NaN  ...              NaN            NaN  NaN  NaN       NaN
13410   NaN  NaN  ...  Cheriton Bishop         EXETER  NaN  NaN   EX6 6JH
21800   NaN  NaN  ...       PUNCHESTON  HAVERFORDWEST  NaN  NaN  SA62 5RJ

            phone  fax Unnamed: 18  Unnamed: 19 Unnamed: 20
5302          NaN  NaN         NaN          NaN         NaN
6328          NaN  NaN         NaN          NaN         NaN
12416         NaN  NaN         NaN          NaN         NaN
13410   164724120  NaN         NaN          NaN         NaN
21800  1348881387  NaN         NaN          NaN         NaN

[5 rows x 21 columns]
        regno subno                                               name  \
191   1085764     0                         CHILTERN COUNSELLING (CPF)
504   1086078     0                    YORK WOMENS COUNSELLING SERVICE
815   1086389     0  THE NORTH AND SOUTH MANCHESTER COUNSELLING SER...
1209  1086776     0                NEW ROMNEY COUNSELLING SERVICES LTD
1466  1087029     0  FYLDE COUNSELLING SERVICE                     ...

     orgtype                                                 gd  \
191       RM  MEMORANDUM AND ARTICLES OF ASSOCIATION INCORPO...
504        R                                     6TH JUNE 2001;
815       RM  CONSTITUTION ADOPTED 12 SEPTEMBER 2000 AS AMEN...
1209       R  MEMORANDUM AND ARTICLES OF ASSOCIATION INCORPO...
1466      RM  CONSTITUTION ADOPTED 28 JUNE 2000 AS AMENDED 2...

                                                    aob aob_defined nhs ha_no  \
191   THE UNITED KINGDOM AND IN PARTICULAR BUCKINGHA...         NaN   F   NaN
504                                        CITY OF YORK         NaN   F   NaN
815                                  GREATER MANCHESTER         NaN   F   NaN
1209                                        NOT DEFINED         NaN   F   NaN
1466                          FYLDE, WYRE AND BLACKPOOL         NaN   F   NaN

     corr  ...                                 add2  \
191   NaN  ...                                  NaN
504   NaN  ...  PRIORY ST. CENTRE
815   NaN  ...                                  NaN
1209  NaN  ...                       45 High Street
1466  NaN  ...                                  NaN

                                     add3  \
191                                   NaN
504   15 PRIORY STREET
815                                   NaN
1209                           NEW ROMNEY
1466                                  NaN

                                     add4 add5  postcode       phone  fax  \
191                                   NaN  NaN       NaN         NaN  NaN
504   YORK                                 NaN  YO1 6ET   1904652706  NaN
815                                   NaN  NaN       NaN         NaN  NaN
1209                                  NaN  NaN  TN28 8AH  1797367809  NaN
1466                                  NaN  NaN       NaN         NaN  NaN

     Unnamed: 18  Unnamed: 19 Unnamed: 20
191          NaN          NaN         NaN
504          NaN          NaN         NaN
815          NaN          NaN         NaN
1209         NaN          NaN         NaN
1466         NaN          NaN         NaN

[5 rows x 21 columns]
Empty DataFrame
Columns: [regno, subno, name, orgtype, gd, aob, aob_defined, nhs, ha_no, corr, add1, add2, add3, add4, add5, postcode, phone, fax, Unnamed: 18, Unnamed: 19, Unnamed: 20]
Index: []

[0 rows x 21 columns]
          regno subno                                               name  \
112768  1196092     0  STRUGGLES 2 SMILES                            ...
346785  1058100     0                      ZAPALLAL SHARING THE STRUGGLE

       orgtype                                                 gd  \
112768       R           CIO - FOUNDATION Registered 11 Oct 2021;
346785       R  MEMORANDUM AND ARTICLES INCORPORATED 10 SEPTEM...

                  aob aob_defined nhs ha_no corr  ...      add2    add3 add4  \
112768            NaN         NaN   F   NaN  NaN  ...     BARRY     NaN  NaN
346785  SOUTH AMERICA         NaN   F   NaN  NaN  ...  KNAPHILL  WOKING  NaN

       add5  postcode       phone  fax Unnamed: 18  Unnamed: 19 Unnamed: 20
112768  NaN  CF62 7JH  7549969250  NaN         NaN          NaN         NaN
346785  NaN  GU21 2QY  1483475224  NaN         NaN          NaN         NaN

[2 rows x 21 columns]

In [26]:
from trafilatura import fetch_url, extract

In [27]:
url = fetch_url('https://www.bbc.com/news/world-asia-india-59342627')

In [48]:
data = extract(url)

In [61]:
#data

In [38]:
len(data.split("."))

51

In [31]:
a = data.split(".")

In [72]:
#data

In [74]:
part1 = data[0:2000]
kb1 = KeyBERT('distilbert-base-nli-mean-tokens')
keywords1 = kb1.extract_keywords(part1, stop_words='english')
keywords1

[('protests', 0.1),
 ('sikhism', 0.0158),
 ('repeal', 0.015),
 ('repeals', 0.0022),
 ('died', 0.0017)]

In [75]:
part2 = data[2000:4000]
kb1 = KeyBERT('distilbert-base-nli-mean-tokens')
keywords2 = kb1.extract_keywords(part2, stop_words='english')
keywords2

[('farmers', 0.1889),
 ('farmer', 0.1771),
 ('protesters', 0.1533),
 ('economists', 0.1264),
 ('protest', 0.0936)]

In [76]:
part3 = data[4000:7000]
kb1 = KeyBERT('distilbert-base-nli-mean-tokens')
keywords3 = kb1.extract_keywords(part3, stop_words='english')
keywords3

[('protesting', 0.1069),
 ('protests', 0.0896),
 ('bjp', 0.0869),
 ('sikhs', 0.0753),
 ('farmers', 0.0705)]

In [67]:
kb1 = KeyBERT('distilbert-base-nli-mean-tokens')
keywords1 = kb1.extract_keywords(data, stop_words='english')

In [68]:
keywords1

[('protesters', 0.106),
 ('protests', 0.1),
 ('protesting', 0.0845),
 ('firestorm', 0.0708),
 ('protest', 0.0666)]

In [77]:
article.text

'The reforms, at least on paper, gave farmers the option of selling outside of this so-called "mandi system". But the protesters said the laws would weaken the farmers and allow private players to dictate prices and control their fate. They said the MSP was keeping many farmers going and without it, many of them will struggle to survive.'

In [78]:
import tensorflow as tf

In [79]:
main = tf.keras.models.load_model("text_classification_without_regions/")

In [81]:
h = main.predict([article.text])

In [112]:
#h

In [83]:
d = {2:'Sports',3:'Politics',4:'Start-up',5:'Business',6:'Habitat',7:'Global Health',8:'Europe',9:'Asia',10:'North America',
     11:'Africa',12:'Middle East',13:'Technology',14:'Travel',15:'Gender Equality',16:'Art & Culture',18:'Latin America',19:'Social Movement',
     20:'Local News',21:'Happy News',24:'Climate Crisis',25:'science',26:'Human Rights', 27:'Mental Health',28:'Biotech',29:'LGBT',
     30:'France',31:'Education',32:'Cryptocurrency',33:'Human Stories'}

In [104]:
l = main.predict([data])
m = np.argsort(l)
n = m.tolist()
o = []
for i in range(len(n[0])):
    last_item = n[0].pop()
    o.insert(i, last_item)
p = o[:3]

for i in p:
    print(d[i])

Politics
Human Rights
Social Movement

In [106]:
l = main.predict([article.text])
m = np.argsort(l)
n = m.tolist()
o = []
for i in range(len(n[0])):
    last_item = n[0].pop()
    o.insert(i, last_item)
p = o[:3]

for i in p:
    print(d[i])

Social Movement
Sports
Human Rights

In [111]:
df[df['name'].str.contains("FARMERS", na=False)]

,regno,subno,name,orgtype,gd,aob,aob_defined,nhs,ha_no,corr,...,add2,add3,add4,add5,postcode,phone,fax,Unnamed: 18,Unnamed: 19,Unnamed: 20
5302,1090827,0,TREUDDYN YOUNG FARMERS' CLUB,RM,CONSTITUTION ADOPTED 8 NOVEMBER 2001;,NOT DEFINED,NaN,F,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6328,1091847,0,THE FARMERS FUND ...,RM,DECLARATION OF TRUST EXECUTED ON THE 17TH APRI...,NATIONAL,NaN,F,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12416,1097827,0,ASH YOUNG FARMERS CLUB ...,RM,CONSTITUTION ADOPTED 9TH OCTOBER 2002;,ASH,NaN,F,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13410,1098759,0,THE DEVON FEDERATION OF YOUNG FARMERS CLUBS,R,MEMORANDUM AND ARTICLES OF ASSOCIATION INCORPO...,NOT DEFINED. IN PRACTICE DEVON (MAIN FOCUS FOR...,NaN,F,NaN,NaN,...,Cheriton Bishop,EXETER,NaN,NaN,EX6 6JH,164724120,NaN,NaN,NaN,NaN
21800,1106995,0,CLWB FFERMWYR IFANC LLYSYFRAN YOUNG FARMERS' CLUB,R,CONSTITUTION ADOPTED 20 AUGUST 2004;,NOT DEFINED. IN PRACTICE LLYSYFRAN,NaN,F,NaN,NaN,...,PUNCHESTON,HAVERFORDWEST,NaN,NaN,SA62 5RJ,1348881387,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
368963,1079483,0,THE CENTRAL REGION FARMERS TRUST,R,DECLARATION OF TRUST MADE ON 14 OCTOBER 1999.;,CENTRAL REGION OF ENGLAND,NaN,F,NaN,NaN,...,EVESHAM ROAD,STOW ON THE WOLD,CHELTENHAM,NaN,GL54 1EJ,1451831057,NaN,NaN,NaN,NaN
373804,1084245,0,GREAT ECCLESTON AND DISTRICT YOUNG FARMERS' CLUB,RM,CONSTITUTION ADOPTED ADOPTED 13 JANUARY 1997;,NOT DEFINED,NaN,F,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
373882,1084321,0,CANTERBURY YOUNG FARMERS' CLUB,R,CONSTITUTION ADOPTED 5 OCTOBER 2000.;,NOT DEFINED. IN PRACTICE CANTERBURY.,NaN,F,NaN,NaN,...,Stelling Church,Stelling Minnis,Canterbury,NaN,CT4 5PT,1227709229,NaN,NaN,NaN,NaN
373902,1084340,0,PEN-Y-CAE AND DISTRICT YOUNG FARMERS' CLUB ...,RM,CONSTITUTION ADOPTED 8 SEPTEMBER 1998;,NOT DEFINED,NaN,F,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
374184,1084623,0,BROCKHILL PARK SCHOOL YOUNG FARMERS CLUB,R,DECLARATION OF TRUST DATED 1 NOVEMBER 2000.;,HYTHE.,NaN,F,NaN,NaN,...,Sandling Road,Saltwood,HYTHE,Kent,CT21 4HL,1303265521,NaN,NaN,NaN,NaN